body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    font-size: 14px;
}

.gallery-link {
    display: inline-block;
    height: 152px;
    width: 215px;
    margin: 7px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#admin-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

/* ========== VALIDATION ========== */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error, textarea.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    margin-left: 15px;
}

.validation-summary-valid {
    display: none;
}
