@model List<PissHotel.Models.Album>

@{
    ViewBag.Title = Global.Gallery;
}

<div class="jumbotron">
    @if (Model != null)
    {
        foreach (var album in Model)
        {
            <h3>@album.Title</h3>
            <p class="text-center">
                @foreach (var pic in album.Pictures)
                {
                    string src = Constants.AlbumsImagesDir + album.AlbumId + "/" + pic;
                    <a href="@src" style="background-image: url(@src);" class="gallery-link" data-lightbox="gallery_@(album.AlbumId)"></a>
                }
            </p>
        }
    }
</div>
